@import './styles.scss';

$screenWidth: 70vw;
$screenHeight: $screenWidth * .563;

h1 {
  text-align: center;
  margin: 24px auto;
}

.header {
  background-color: $black;
  color: $primary;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.adaptable-container {
  position: relative;
  width: $screenWidth;
  height: $screenHeight;
  overflow: hidden;
  margin-bottom: 48px;
} 

.guidelineTooltipEntry {
  background-color: $white;
  color: $black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-left: 12px;
}

.guidelineTooltip {
  padding: 20px !important;
  font-size: 16px !important;
  max-width: 300px;
  pointer-events: auto !important;

  &:focus {
    visibility: visible !important;
    opacity: 1 !important;
  }
  
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
 }

.adaptable-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: $screenWidth;
  height: $screenHeight;
  object-fit: contain;
}

.adaptable-video {
  width: $screenWidth;
  height: $screenHeight;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.principles-flyout {
  width: 300px;
  background-color: $white;
  color: $primary;
  padding: 24px;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 4;
  animation: appear 2s forwards;

  @keyframes appear {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
}

.svgButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  width: $screenWidth * .04;
  height: $screenWidth * .04;
  background-color: $contrast;
  opacity: .5;

  transition: all .3s linear;


  svg {
    opacity: 0;
    fill: $primary;
  }

  &:hover {
    transform: scale(1.1);
    opacity: .8;
  }
}

.home-tour {
  position: relative;
  height: $screenHeight;
  width: $screenWidth;
  margin: 24px auto;
}

.clickthroughNav {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 12px;
}

.backButton {
  background-color: $black;
  border-radius: 4px;
  color: $primary;
  font-family: $font-family-sans;
  transition: all .3s linear;
  cursor: pointer;
  padding: 16px 24px;
  border: 1px solid $primary;
  z-index: 5;
  border-radius: 75px;
  opacity: .8;
  font-size: 16px;

  &:hover {
    transform: scale(1.05);
  }
}

.footer {
  position: absolute;
  transition: all .5s ease;
  bottom: -1px;
  z-index: 6;
  background-color: $black;
  padding: 24px;
  left: 0; 
  right: 0;
  color: $primary;
}

.clickthroughFooter {
  @extend .footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  transition: all .5s ease;
}

.quoteFooter {
  @extend .footer;
  color: $primary;
  text-align: center;
  font-size: 24px;
  font-style: italic;
}

.adaptable-scene {
  position: absolute;
  top: 0;
  left: 0;
  
  &.invisible {
    z-index: -1;
  }
  
  &.visible {
    z-index: 4;
  }
}


.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 24px;
}


.areaSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.areaButton {
  width: 48%;
  cursor: pointer;
  padding: 24px;
  font-size: 24px;
  transition: all .5s ease;
}