@import './styles.scss';

.designPrincipleName {
  font-size: 24px;
  line-height: 32px;
  padding: 12px;
  width: 180px;
}

.designPrincipleDescription {
  font-size: 18px;
  padding: 24px;
}

.designPrincipleRow {
  padding: 24px;
}

.designGuideline {
  margin-bottom: 24px;
  
}