@import './styles.scss';

.designPrincipleName {
  font-size: 24px;
  line-height: 32px;
  padding: 12px;
  width: 180px;

  @media only screen and (max-width: 600px) {
    width: 120px;
    font-size: 20px;
    line-height: 28px;
  }
}

.designPrincipleDescription {
  font-size: 18px;
  padding: 24px;
}

.designPrincipleRow {
  padding: 24px;
}

.designGuideline {
  font-size: 52px;
  line-height: 24px;
  padding: 20px 0;
  list-style: decimal-leading-zero;
  margin-left: 84px;

  .title {
    transform: translateY(-12px);
    margin-bottom: 12px;
    font-size: 20px;
  }

  .description {
    transform: translateY(-12px);
    margin-bottom: 0;
  }
}

.designGuidelinePrincipleTag {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid $black;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
}

.principleTags {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.home-tour-link {
  font-family: $font-family-serif;
}