@import './styles.scss';

.designPrincipleName {
  font-size: 24px;
  line-height: 32px;
  padding: 12px;
  width: 180px;
  font-family: $font-family-serif;

  @media only screen and (max-width: 600px) {
    width: 120px;
    font-size: 20px;
    line-height: 28px;
  }
}

.designPrincipleDescription {
  font-size: 18px;
  padding: 24px;
  font-family: $font-family-serif;
}

.designPrincipleRow {
  padding: 24px;
}

.designGuidelines {
  max-width: 600px;

  counter-reset: item;
  list-style-type: none;

  li {
    max-width: 600px;
    font-family: $font-family-serif;
    font-size: 40px;
    line-height: 24px;
    padding: 20px 0;
    margin-bottom: 8px;
    font-weight: medium;
  }

  li:before { 
    content: "0" counter(item) "  "; 
    counter-increment: item 
}

  li p {
    font-weight: normal;
    font-family: $font-family-serif;
    transform: translateY(-30px);
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    margin-left: 72px;
  }
  

}

.designGuidelinePrincipleTag {
  font-family: $font-family-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid $black;
  margin-right: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
}

.principleTags {
  transform: translateY(-12px);
  margin-left: 72px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.home-tour-link {
  font-family: $font-family-serif;
}