@import './styles.scss';

.navBar {
  background: $cream;
  color: $black;
  z-index: 1000;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .mobileNavControl {
    background-color: $cream;
    border: none;
    cursor: pointer;

    svg {
      stroke: $black;
      fill: $black;
    }
  }

  .navBarContentContainer {
    @extend .contentWrapper;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.mobile {
      padding: 16px 0;
    }
  }

    h2 {
      margin: .5rem 0;
    }

    .navBarButtons {
      display: flex;
      padding: .25rem 0;
    }

    .link, .navLink {
      text-decoration: none;
      color: $black;
      font-family: $font-family-serif;
      font-size: 1.25rem;
      padding: .25rem;
      margin-bottom: .75rem;
    }
    
    .navLink {
      font-family: $font-family-sans;
      font-size: 1rem;
      font-weight: normal;
      margin: 0 1rem;
      padding: 0;

      &.selected {
        text-decoration: underline;
      }
    }
}





