$primary: #FFFAF2;
$white: #FFFFFF;
$cream: #FAF1E1;
$black: #373737;

$contrast: $black;
$font-family-serif: 'Lora', serif;
$font-family-sans: 'DM Sans', sans-serif;

.contentWrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1100px;
}

.page-layout {
  padding: 24px;
  margin: 0 auto;
}

.title {
  margin-bottom: 52px;
}

.text-wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  font-family: $font-family-serif;
  p {
    font-size: 18px;
  }
}

.primary-point {
  max-width: 640px;
  margin: 32px auto;
  text-align: left;
  p {
    font-size: 22px;
    // font-weight: 600;
  }
}

.subtitle {
  font-size: 22px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 64px;
}
